*{
	margin:0px;
	padding: 0px;
}

#page{
	width: 1450px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#nav-header{
    background-color: #228bcc80;
    background-attachment: fixed;
	background-size: cover;
    text-align: center;
}

#header-logo{
    text-align: left;
}

#logo{
    max-width: 6%;
height: auto;
padding-bottom: 0px;
margin-bottom: -40px;
margin-right: -25px;
}

#logo-name{
    display: inline;
}

#nav-list{
	padding-bottom: 26px;
	margin-top: -14px;
}

#Login{
	background-color: rgb(137, 123, 123); /* Green */
	border: 1px solid gray;
	color: blue;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 20%;
}

#nav-list li{
    display: inline;
}