*{
	margin:0px;
	padding: 0px;
}

#page{
	width: 1500px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#nav-header{
    background-color: #228bcc80;
    background-attachment: fixed;
	background-size: cover;
    text-align: center;
}

#header-logo{
    text-align: left;
	font-family: serif;
}

#logo{
    max-width: 12%;
height: auto;
padding-bottom: 0px;
margin-bottom: -70px;
margin-right: -25px;
text-align: left;
}

#logoInLogin{
    max-width: 12%;

}


#logo-name{
    display: inline;
}

#nav-list{
	padding-bottom: 26px;
	margin-top: -34px;
	margin-left: 704px;
}

#Login{
	font-family: 'Times New Roman', Times, serif;
font-weight: bold;
border: 1px solid gray;
color: blue;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
border-radius: 20%;
margin-left: 127px;
}

button{
	border-style: none;
	border-radius: 20%;
	font-size: 20px;
	margin-left: 21px;
	margin-top: 20px;
	padding: 9px;
}

button:active{
	border-style: inset ;
	font-size: 20px;
}


#nav-list li{
    display: inline;
	
}

#first-photo{
	margin: 10px;
text-align: center;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
padding-left: 39%;
width: 30%;
}

#imagen-arriba{
width: 100%;
}

#texto-arriba{
	position: absolute;
margin-left: -4px;
padding-right: 14px;
font-weight: bold;
color: white;
background: #90c5e5;
}

#general{
	width: 1450px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.news-1{
	width: 35%;
	float: left;
	padding-left: 15px;
	padding-top: 10px;

}

.news-2{
	width: 35%;
float: right;
padding-right: 15px;
padding-top: 10px;
	}


.imagen-not{
	width: 100%;
}

section{
	display: table;	
}



footer
{
background-color: rgba(144, 197, 229, 0.84);
border: double;
bottom: 0;
text-align: left;
padding-top: 15px;
padding-bottom: 15px;
text-decoration: none;
font-size: 13px;
}

footer p{
	display: flex;
flex-direction: row;
margin-top: -27px;
margin-left: 370px;
}

footer ul {
	margin-top: -19px;
	margin-left: 1200px;
}

footer ul li{
	display: inline;
	flex-direction: row;
}

.social{
	width: 24px;
}

#logo_footer{
	width: 70px;
}

/*Login*/
#Form_login{
	text-align: center;
	padding: 20px;
	background-color: #043b74;
border-radius: 20px;
}

#section_login{
	display: inline;
	padding: 30px;
	text-align: center;
}

#article_form{
	background: #3a5a98;
margin-top: 4%;
padding: 20px;
margin-left: 40%;
margin-right: 30%;
border-radius: 20px;

}

form{
	text-align: right;
	padding: 20px;
}

#helper{
	background-color: gray;
border-radius: 20px;
text-align: left;
margin-bottom: -20px;
margin-left: -20px;
margin-right: -20px;
}

#helper a h3{
	padding-top: 20px;
	width: 20%;
}

#helper a {
	display: block ruby;
}

#helper a img{
	padding-top: 20px;
	width: 10%;
}

.tipe_login{
	display: inline;
}

.tipe_login p{
	background-color: blue;
	margin: -20px;
}

#helper_Phone{
	margin-left: 210px;
	margin-top: -10px;
}