*{
	margin:0px;
	padding: 0px;
}

#page{
	width: 1450px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#nav-header{
    background-color: #228bcc80;
    background-attachment: fixed;
	background-size: cover;
    text-align: center;
}

#header-logo{
    text-align: left;
}

#logo{
    max-width: 6%;
height: auto;
padding-bottom: 0px;
margin-bottom: -40px;
margin-right: -25px;
}

#logo-name{
    display: inline;
}

#nav-list{
	padding-bottom: 26px;
	margin-top: -34px;
	margin-left: 704px;
}

#Login{
	font-family: 'Times New Roman', Times, serif;
font-weight: bold;
border: 1px solid gray;
color: blue;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
border-radius: 20%;
margin-left: 127px;
}

button{
	border-style: none;
	border-radius: 20%;
	font-size: 20px;
	margin-left: 21px;
	margin-top: 20px;
	padding: 9px;
}

button:active{
	border-style: inset ;
	font-size: 20px;
}


#nav-list li{
    display: inline;
	
}

#first-photo{
	margin: 10px;
	text-align: center;
	background-image: url(../img/saul.jpg);
	background-repeat:no-repeat; 
background-position: center; 
background-attachment: fixed;
background-size: cover;
	padding-left: 50%;
	width: 50%;
}

#imagen-arriba{
width: 30%;
opacity: 0.5;
}